$primary-color: #0099ff;
$body-bg: #f1f1f1;
$main-color: #ff0000;
$txt-color: #ffffff;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-widht: 600px;
$tablet-widht: 1024px;

$font-family: 'Montserrat', sans-serif;